
* {
  box-sizing: border-box;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid;
  background-color: lightblue;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  display: block;
  text-align: center;
  font-weight: bold;
}
.menuitem:last-child {
    border-bottom: none;
  }
a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
a:hover {
    color: rgb(47, 0, 255);
    
  }
.main {
  float:left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
  list-style-type: none;
}
.right {
  background-color:lightcyan;
  float: right;
  width: 40%;
  padding: 10px 15px;
  margin-top: 7px;
}
.header{
  background-color:lightblue;
  padding: 15px;
}



@media only screen and (max-width:880px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:640px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
